@font-face {
	font-family: OpenSans-Bold;
	src: url(..//fonts/OpenSans-Bold.ttf) format("ttf"),
	url(..//fonts/OpenSans-Bold.woff) format("woff"),
	url(..//fonts/OpenSans-Bold.woff2) format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: OpenSans-Regular;
	src: url(..//fonts/OpenSans-Regular.ttf) format("ttf"),
	url(..//fonts/OpenSans-Regular.woff) format("woff"),
	url(..//fonts/OpenSans-Regular.woff2) format("woff2");
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	min-width: 320px;
}

header {	
	background-image: url("..//images/football_767.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #000000;
	color: #ffffff;
	margin: 0;
	box-sizing: border-box;			
}

header::after {
	content: "";
	background-color: #0a0e34;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.9;
}

.surface {	
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	z-index: 2;
	width: 130px;
}